.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--primary-dark);
}

.content {
  padding: var(--spacing-2xl);
  text-align: center;
  color: var(--text-muted);
}
